/* font for death/victory screens */
/* <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap" rel="stylesheet"> */
/* font-family: 'Old Standard TT', serif; */

 /* font for page header
 <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
 font-family: 'Press Start 2P', cursive; */

body {
  background-color: #5f6769;
  width: 999px;
  margin: 0 auto;
}

header {
  text-align: center;
  text-decoration: underline;
}

h1 {
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  margin-top: 15px;
  margin-bottom: 30px;
}

td {
  text-align: center;
  vertical-align: middle;
}

.hard {
  width: 14%;
  height: 14%;
  background-image: url(../images/dungeontile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.medium {
  width: 20%;
  height: 20%;
  background-image: url(../images/dungeontile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.easy {
  width: 33%;
  height: 33%;
  background-image: url(../images/dungeontile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}


#about-us {
  border: 5px solid #3c4245;
  background-color: #dfcdc3;
  display: inline-block;
  height: 480px;
  width: 225px;
  vertical-align: top;
  padding: 5px;
  /* margin-right: 2px; */
}

#game-area {
  display: inline-block;
  width: 750px;
  height: 600px;
}
#game-area div:first-of-type {
  display: inline-block;
}

#movement-keys {
  height: 90px;
  width: 160px;
  text-align: center;
  margin: 5px auto 0px auto;
  border: 5px solid #3c4245;
  background-color: #dfcdc3;
}

#up-key {
  padding-top: 7px;
}

#left-attack-right {
  width: 150px;
  margin: 10px 0px;
}

#left-key {
  display: inline-block;
}

#attack-key {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

#right-key {
  display: inline-block;
}

#game-area aside {
  display: inline-block;
  margin-top: 2px;
  height: 500px;
  vertical-align: top;
}

#combat-log-header {
  font-family: 'Press Start 2P', cursive;
  margin-left: 1px;
  margin-bottom: -8px;
}

/* not currently in use */
/* #game-info {
  width: 170px;
  height: 190px;
} */

#combat-info {
  border: 5px solid #3c4245;
  background-color: #dfcdc3;
  margin-top: 10px;
  padding: 5px;
  width: 170px;
  height: 460px;
  overflow-y: scroll;
}

table {
  width: 500px;
  height: 500px;
}

td {
  border: 1px solid black;
}

footer {
  font-family: 'Press Start 2P', cursive;
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
}

#deathScreen {
  background-color: #000000;
  width: 1000px;
  height: 800px;
}

#deathScreen {
  animation: color-change 8s;
}

@keyframes color-change {
  0% {background-color: red;}
  100% {background-color: #000000;}
}

#deathContainer {
  position: absolute;
    top: 45%;
    left: 38%;
    margin-top: -50px;
    margin-left: -50px;
    width: 500px;
    height: 200px;
}

#deathMessage {
  font-size: 80px;
  color: hsla(360, 100%, 41%, 0.6);
  font-family: 'Old Standard TT', serif;
  text-align: center;
  margin: 0 auto;
}

#reset {
  margin: 0 auto;
  font-size: 18px;
  width: 150px;
}

#reset-button {
  border-radius: 15px;
  font-size: 15px;
  margin-left: 5px;
  background: whiteSmoke;
  font-weight: bold;
  text-decoration: none;

  box-shadow: 0 0 0 0 rgba(138, 7, 7, 1);
	transform: scale(1);
  animation: pulse 2s infinite;
  animation-name: death-pulse;
}

@keyframes death-pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(138, 7, 7, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(138, 7, 7, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(138, 7, 7, 0);
	}
}

#reset-button:hover {
  background-color: red;
}

#victoryScreen {
  background-color: #dfcdc3;
  width: 1000px;
  height: 800px;
}

#victoryContainer {
  position: absolute;
    top: 40%;
    left: 38%;
    margin-top: -50px;
    margin-left: -50px;
    width: 600px;
    height: 200px;
}

#victoryMessage {
  font-size: 80px;
  color: hsla(181, 22%, 50%, 1);
  font-family: 'Old Standard TT', serif;
  text-align: center;
  margin: 0 auto;

  transform: scale(1);
  animation: pulse 3s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

#victoryText {
  font-size: 50px;
  color: hsla(181, 22%, 50%, 1);
  font-family: 'Old Standard TT', serif;
  text-align: center;
  padding: 5px;
}

#new-game {
  margin: 20px auto;
  font-size: 18px;
  width: 150px;
  border-radius: 15px;
}

#restart-button {
  border-radius: 15px;
  background: whiteSmoke;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;

  box-shadow: 0 0 0 0 hsla(181, 22%, 50%, 1);
	transform: scale(1);
  animation: pulse 2s infinite;
  animation-name: button-pulse;
}

@keyframes button-pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 hsla(181, 22%, 50%, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px hsla(181, 22%, 50%, 0.0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 hsla(181, 22%, 50%, 0);
	}
}

#restart-button:hover {
  background-color: hsla(181, 22%, 50%, 0.8);
}